<div class="navbar-nav bg-gradient-primary sidebar sidebar-dark collapse navbar-collapse"
[collapse]="isCollapsed" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <fa class="fas fa-fw" name="folder"></fa>
    </div>
    <div class="sidebar-brand-text mx-3">Facturado</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!--Heading-->
  <div class="sidebar-heading">
    Facturado
  </div>

  <!-- Nav Item - Reporte Facturas -->
  <div class="nav-item" *ngIf="!hidden" (HiddenEvent)="Click($event)">
    <a class="nav-link" href="reporte-factura">
      <fa class="fas fa-fw" name="file-o"></fa>
      <span>Reporte de Facturas</span></a>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Clientes
  </div>

  <!-- Nav Item - Reporte Clientes -->
  <div class="nav-item">
    <a class="nav-link" href="reporte-clientes">
      <fa class="fas fa-fw" name="user"></fa>
      <span>Reporte Clientes</span></a>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Mis Facturas
  </div>
  <!-- Nav Item - Facturas Recibidas-->
  <div class="nav-item">
    <a class="nav-link" href="misfacturas">
      <fa class="fas fa-fw" name="files-o"></fa>
      <span>Facturas Recibidas</span></a>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Heading -->
  <div class="sidebar-heading">
    Generar
  </div>
  <!-- Nav Item - Facturas Recibidas-->
  <div class="nav-item">
    <a class="nav-link" href="generar-factura">
      <fa class="fas fa-fw" name="pencil"></fa>
      <span>Generar Factura</span></a>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

</div>

<!-- End of Sidebar -->
