<div class="container">
    <h1>{{'Register.title2' | translate }}</h1>
    <form (ngSubmit)="onSubmit()" #perfilForm="ngForm">
      <div class="form-group">
        <label for="rfc">RFC</label>
        <input type="text" class="form-control" id="rfc"
                required
                [(ngModel)]="perfilModel.rfc" name="rfc"
                #rfc="ngModel">
         <div [hidden]="rfc.valid || rfc.pristine"
              class="alert alert-danger">
              RFC {{'Register.required' | translate }}
         </div>
      </div>

      <div class="form-group">
        <label for="name">{{'Register.name' | translate }}</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="perfilModel.nombre" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          {{'Register.name' | translate }} {{'Register.required' | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="razonSocial">{{'Register.business name' | translate }}</label>
        <input type="text" class="form-control" id="razonSocial"
               required
               [(ngModel)]="perfilModel.razon_social" name="razonSocial"
               #razonSocial="ngModel">
        <div [hidden]="razonSocial.valid || razonSocial.pristine"
             class="alert alert-danger">
             {{'Register.business name' | translate }} {{'Register.required' | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="direccion">{{'Register.address' | translate }}</label>
        <input type="text" class="form-control" id="direccion"
               required
               [(ngModel)]="perfilModel.direccion" name="direccion"
               #direccion="ngModel">
        <div [hidden]="direccion.valid || direccion.pristine"
             class="alert alert-danger">
             {{'Register.address' | translate }} {{'Register.required' | translate }}
        </div>
      </div>



      <div class="form-group">
        <label for="correo">{{'Register.mail' | translate }}</label>
        <input type="text" class="form-control" id="correo"
                required
                [(ngModel)]="perfilModel.correo" name="correo"
                #correo="ngModel">
         <div [hidden]="correo.valid || correo.pristine"
              class="alert alert-danger">
              {{'Register.mail' | translate }} {{'Register.required' | translate }}
         </div>
      </div>

      <div class="form-group">
        <label for="password">{{'Register.password' | translate }}</label>
        <input type="password" class="form-control" id="password"
                required
                [(ngModel)]="perfilModel.contrasena" name="password"
                #password="ngModel">
         <div [hidden]="password.valid || password.pristine"
              class="alert alert-danger">
              {{'Register.password' | translate }} {{'Register.required' | translate }}
         </div>
      </div>

      <button type="submit" class="btn btn-primary"
              [disabled]="!perfilForm.form.valid">{{'Register.edit' | translate }}</button>

    </form>
</div>
