<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="registro-empresa">{{'Register.business' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registro-clientes">{{'Register.client' | translate }}</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{'Register.<title>Home</title>' | translate }}</h5>
    <p class="card-text">{{'Register.message' | translate }}</p>
  </div>
</div>
