<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="row factura-table">
    <div class="col-lg-12 table-responsive">
      <table>
        <tr>
          <td>
            <div style="height:500px; overflow:auto;">
              <table>
                <tr>
                  <td>Proveedor:</td>
                  <td>{{facturaModel.proveedor}}</td>
                </tr>
                <tr>
                  <td>Cliente:</td>
                  <td>{{facturaModel.cliente}}</td>
                </tr>
                <tr>
                  <td>Dirección de Proveedor:</td>
                  <td>{{facturaModel.direccion_proveedor}}</td>
                </tr>
                <tr>
                  <td>Dirección de Cliente:</td>
                  <td>{{facturaModel.direccion_cliente}}</td>
                </tr>
                <tr>
                  <td>RFC de Cliente:</td>
                  <td>{{facturaModel.rfc_Cliente}}</td>
                </tr>
                <tr>
                  <td>RFC de Proveedor:</td>
                  <td>{{facturaModel.rfc_proveedor}}</td>
                </tr>
                <tr>
                  <td>Fecha:</td>
                  <td>{{facturaModel.fecha}}</td>
                </tr>
                <tr>
                  <td>Concepto:</td>
                  <td>Brown</td>
                </tr>
                <tr>
                  <td>Cantidad:</td>
                  <td>Brown</td>
                </tr>
                <tr>
                  <td>Precio unitario:</td>
                  <td>Brown</td>
                </tr>
                <tr>
                  <td>Importe:</td>
                  <td>Brown</td>
                </tr>
                <tr>
                  <td>Impuesto:</td>
                  <td>{{facturaModel.impuesto}}</td>
                </tr>
                <tr>
                  <td>Total:</td>
                  <td>{{facturaModel.total}}</td>
                </tr>
                <tr>
                  <td>Firma Digital:</td>
                  <td>{{facturaModel.firmaDigital}}</td>
                </tr>
                <tr>
                  <td>Sello Digital:</td>
                  <td>{{facturaModel.selloDigital}}</td>
                </tr>

              </table>

            </div>

          </td>
        </tr>
      </table>
    </div>

    <div class="col-lg-6">
      <button type="button" class="btn btn-outline-primary btnFactura">PDF</button>
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn btn-outline-success btnFactura">XML</button>
    </div>

  </div>

</div>
<!-- /.container-fluid -->
