<!--The content below is only a placeholder and can be replaced.-->

<!--<div>
  <body class="bg-gradient-primary">
    <div class="container">
      <login (LoggedInEvent) = "leDiClick($event)"
      (RegisteringEvent) = "leDiClick2($event)"
      (TranslateEvent)="cambiarLenguaje($event)"></login>
    </div>
  </body>
</div>-->

<!--<div *ngIf="!isLoggedIn && Registering">
  <registro-usuario></registro-usuario>
  <router-outlet (RegisteringEvent) = "leDiClick2($event)"></router-outlet>
</div>-->

<div id="wrapper">
  <nav-bar [collapseMessage]="isCollapsed"></nav-bar>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <top-bar (Collapsing)="receiveCollapse($event)"
      (TranslateEvent)="cambiarLenguaje($event)"></top-bar>

      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>

    </div>

    <app-footer></app-footer>

  </div>
</div>
