<!--The content below is only a placeholder and can be replaced.-->

<!--<div *ngIf="!isLoggedIn">
  <body class="bg-gradient-primary">
    <div class="container">
      <login (LoggedInEvent) = "leDiClick($event)"></login>
    </div>
  </body>
</div>-->

<div id="wrapper">
  <nav-bar></nav-bar>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <top-bar></top-bar>

       <div class="container">
              <router-outlet></router-outlet>
        </div>

    </div>
  </div>
</div>
