<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="!isLoggedIn">
  <body class="bg-gradient-primary">
    <div class="container">
      <login (LoggedInEvent) = "leDiClick($event)"></login>
    </div>
  </body>
</div>

<div id="wrapper" *ngIf="isLoggedIn">
  <nav-bar></nav-bar>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <top-bar></top-bar>


      <router-outlet></router-outlet>


      <app-footer></app-footer>

    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
