<div class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="menu">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Nombre App</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!--Heading-->
  <div class="sidebar-heading">
    Facturado
  </div>

  <!-- Nav Item - Reporte Facturas -->
  <div class="nav-item">
    <a class="nav-link" href="reporte-factura">
      <i class="fas fa-fw fa-file-invoice"></i>
      <span>Reporte de Facturas</span></a>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Clientes
  </div>

  <!-- Nav Item - Reporte Clientes -->
  <div class="nav-item">
    <a class="nav-link" href="reporte-clientes">
      <i class="fas fa-fw fa-user"></i>
      <span>Reporte Clientes</span></a>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Mis Facturas
  </div>
  <!-- Nav Item - Facturas Recibidas-->
  <div class="nav-item">
    <a class="nav-link" href="misfacturas">
      <i class="fas fa-fw fa-file-invoice-dollar"></i>
      <span>Facturas Recibidas</span></a>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Heading -->
  <div class="sidebar-heading">
    Generar
  </div>
  <!-- Nav Item - Facturas Recibidas-->
  <div class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-file-invoice-dollar"></i>
      <span>Generar Factura</span></a>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

</div>
<!-- End of Sidebar -->
