<div class="container-fluid">
  <div class="container">
      <h1>{{'Generate.title' | translate }}</h1>
      <form (ngSubmit)="onSubmit(); facturaForm.reset()" #facturaForm="ngForm">
        <div class="form-group">
          <label for="proveedor">{{'Generate.provider' | translate }}</label>
          <input type="text" class="form-control" id="proveedor"
                 required
                 [(ngModel)]="facturaModel.proveedor" name="proveedor"
                 #proveedor="ngModel">
          <div [hidden]="proveedor.valid || proveedor.pristine"
               class="alert alert-danger">
             {{'Generate.provider' | translate }} {{'Generate.required' | translate }}
           </div>
        </div>

      <div class="form-group">
        <label for="direccion_proveedor">{{'Generate.dir provider' | translate }}</label>
        <input type="text" class="form-control" id="direccion_proveedor"
                required
                [(ngModel)]="facturaModel.direccion_proveedor" name="direccion_proveedor"
                #direccion_proveedor="ngModel">
         <div [hidden]="direccion_proveedor.valid || direccion_proveedor.pristine"
              class="alert alert-danger">
              {{'Generate.dir provider' | translate }} {{'Generate.required' | translate }}
         </div>
      </div>

      <div class="form-group">
        <label for="rfc_proveedor">{{'Generate.rfc provider' | translate }}</label>
        <input type="text" class="form-control" id="rfc_proveedor"
                required
                [(ngModel)]="facturaModel.rfc_proveedor" name="rfc_proveedor"
                #rfc_proveedor="ngModel">
         <div [hidden]="rfc_proveedor.valid || rfc_proveedor.pristine"
              class="alert alert-danger">
              {{'Generate.rfc provider' | translate }} {{'Generate.required' | translate }}
         </div>
      </div>

      <div class="form-group">
        <label for="cliente">{{'Generate.client' | translate }}</label>
        <select class="form-control" id="cliente"
           required
           [(ngModel)]="facturaModel.cliente" name="cliente"
           #cliente="ngModel">
          <option></option>
          <option *ngFor="let cliente of clientes" [value]="cliente">{{cliente}}</option>

        </select>
        <div [hidden]="cliente.valid || cliente.pristine"
             class="alert alert-danger">
            {{'Generate.client' | translate }} {{'Generate.required' | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="direccion_proveedor">{{'Generate.dir client' | translate }}</label>
        <input type="text" class="form-control" id="direccion_proveedor"
                required
                [(ngModel)]="facturaModel.direccion_proveedor" name="direccion_proveedor"
                #direccion_proveedor="ngModel">
         <div [hidden]="direccion_proveedor.valid || direccion_proveedor.pristine"
              class="alert alert-danger">
              {{'Generate.dir client' | translate }} {{'Generate.required' | translate }}
         </div>
      </div>

      <div class="form-group">
        <label for="rfc_proveedor">{{'Generate.rfc client' | translate }}</label>
        <input type="text" class="form-control" id="rfc_proveedor"
                required
                [(ngModel)]="facturaModel.rfc_proveedor" name="rfc_proveedor"
                #rfc_proveedor="ngModel">
         <div [hidden]="rfc_proveedor.valid || rfc_proveedor.pristine"
              class="alert alert-danger">
              {{'Generate.rfc client' | translate }} {{'Generate.required' | translate }}
         </div>
      </div>

      <div class="form-group">
        <label for="fecha">{{'Generate.date' | translate }}</label>
        <input type="date" class="form-control" id="fecha"
                required
                [(ngModel)]="facturaModel.fecha" name="fecha"
                #fecha="ngModel">
         <div [hidden]="fecha.valid || fecha.pristine"
              class="alert alert-danger">
              {{'Generate.date' | translate }} {{'Generate.required' | translate }}
         </div>
      </div>

      <div class="form-group">
        <label for="proveedor">{{'Generate.taxes' | translate }}</label>
        <input type="text" class="form-control" id="proveedor"
               required
               [(ngModel)]="facturaModel.proveedor" name="proveedor"
               #proveedor="ngModel">
        <div [hidden]="proveedor.valid || proveedor.pristine"
             class="alert alert-danger">
           {{'Generate.taxes' | translate }} {{'Generate.required' | translate }}
      </div>
      </div>

      <div class="form-group">
        <label for="proveedor">{{'Generate.total' | translate }}</label>
        <input type="text" class="form-control" id="proveedor"
               required
               [(ngModel)]="facturaModel.proveedor" name="proveedor"
               #proveedor="ngModel">
        <div [hidden]="proveedor.valid || proveedor.pristine"
             class="alert alert-danger">
           {{'Generate.total' | translate }} {{'Generate.required' | translate }}
      </div>
      </div>

      <div class="form-group">
        <label for="proveedor">{{'Generate.signature' | translate }}</label>
        <input type="text" class="form-control" id="proveedor"
               required
               [(ngModel)]="facturaModel.proveedor" name="proveedor"
               #proveedor="ngModel">
        <div [hidden]="proveedor.valid || proveedor.pristine"
             class="alert alert-danger">
           {{'Generate.signature' | translate }} {{'Generate.required' | translate }}
      </div>
      </div>

      <div class="form-group">
        <label for="proveedor">{{'Generate.stamp' | translate }}</label>
        <input type="text" class="form-control" id="proveedor"
               required
               [(ngModel)]="facturaModel.proveedor" name="proveedor"
               #proveedor="ngModel">
        <div [hidden]="proveedor.valid || proveedor.pristine"
             class="alert alert-danger">
           {{'Generate.stamp' | translate }} {{'Generate.required' | translate }}
      </div>
      </div>

      <button type="submit" class="btn btn-primary"
              [disabled]="!facturaForm.form.valid">{{'Generate.create' | translate }}</button>

    </form>
  </div>
</div>
