  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{'Reportes.title3' | translate }}</h1>
  </div>


  <!-- Content Row -->

  <div class="row">

    <!-- Area Chart -->
    <div class="col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <nav class="navbar navbar-expand navbar-light bg-light topbar static-top" dropdown>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a dropdownToggle class="nav-link dropdown-toggle"  id="searchDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <fa class="fas fa-fw" name="search"></fa>
              </a>
            </li>
          </ul>
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 pt-3 my-md-0 mw-100 navbar-search">
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <div class="input-group">
                  <input type="text" class="form-control bg-white border-0 small" placeholder="{{'Reportes.search' | translate }}"
                  aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <fa class="fas fa-sm" name="search"></fa>
                    </button>
                  </div>
                </div>
              </div>
            </form>
        </nav>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table id="exitosa-table">
              <thead>
                <tr>
                  <th>{{'Reportes.business name' | translate }}</th>
                  <th>{{'Reportes.date' | translate }}</th>
                  <th>{{'Reportes.amount' | translate }}</th>
                  <th>{{'Reportes.status' | translate }}</th>
                  <th class="Acciones">{{'Reportes.accion' | translate }}</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let factura of facturas" tabla-facturas [factura]="factura" ></tr>
              </tbody>

            </table>

          </div>


        </div>
      </div>
    </div>



</div>

  <!-- /.container-fluid -->
